.eh__container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 720px;
  padding: 56px 78px;
  margin: 0 auto;
  background-color: $white;
}

.eh__logo {
  position: absolute;
  left: 78px;
  top: 56px;
}

.eh__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.37;
  color: $black;
  margin-left: auto;
  margin-right: auto;
}

.eh-title__slogan {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.37;
  color: $black;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.eh__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.eh__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: $black;
  width: 820px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.eh__decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1280px;
  height: 16px;
  background: $metallic_copper;
}
