.main__container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 720px;
  padding: 0 78px;
  margin: 0 auto;

  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  animation: scale 10s 1;
  -webkit-animation: scale 7s 1;
}

.main__logo:hover,
.main__logo:focus {
  @keyframes scale {
    0% {
      transform: scale(0.9);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.9;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  right: 77px;
  background: linear-gradient(
    180deg,
    rgba(0, 25, 54, 0.2) 0%,
    rgba(30, 30, 30, 0.2) 54.17%,
    rgba(255, 255, 255, 0.2) 100%
  );
  width: 539px;
  height: 720px;
}

.header__link {
  position: absolute;
  top: 624px;
  right: 119px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.37;
  color: $deep_blue;
  background: $metallic_copper;
  padding: 4px 61px;
  transition: color 250ms linear, background-color 250ms linear,
    box-shadow 250ms linear;
  -webkit-transition: color 250ms linear, background-color 250ms linear,
    box-shadow 250ms linear;
  &:hover,
  &:focus {
    color: $white;
    background-color: $copper_foil;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.main__decoration {
  position: absolute;
  bottom: 0;
  width: 539px;
  height: 16px;
  background: $deep_blue;
}
