<section class="zones">
  <ul class="zones__container">
    <li class="zones__block">
      <img
        src="./images/section2_1_Ellington_House_Lobby.jpg"
        width="475"
        hight="190"
      />
      <svg
        class="zones-modal__open"
        width="34"
        height="34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.462 13.539 32 2m0 0h-9.23M32 2v9.23M13.538 13.54 2 2m0 0h9.23M2 2v9.23m18.462 9.232L32 32m0 0h-9.23M32 32v-9.23m-18.462-2.308L2 32m0 0h9.23M2 32v-9.23"
          stroke="#fff"
          stroke-opacity=".7"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <div class="eh_description">
        <h2>Lobby</h2>
        <p>
          Distinctly modern, the lobby at Ellington House is an artsy, edgy
          space with an understated elegance. High floor-to-ceiling windows
          frame the lush greenery of outside while acting as entryways for the
          beautiful natural light to accentuate the soft color palette of the
          lobby. 
        </p>
      </div>
    </li>
    <li class="zones__block">
      <img src="./images/section2_2_Pool.jpg" width="475" hight="190" />
      <svg
        class="zones-modal__open"
        width="34"
        height="34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.462 13.539 32 2m0 0h-9.23M32 2v9.23M13.538 13.54 2 2m0 0h9.23M2 2v9.23m18.462 9.232L32 32m0 0h-9.23M32 32v-9.23m-18.462-2.308L2 32m0 0h9.23M2 32v-9.23"
          stroke="#fff"
          stroke-opacity=".7"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div class="eh_description">
        <h2>Poll deck</h2>
        <p>
          It’s almost as if the pool deck at Ellington House was designed to
          bring resort-style entertainment to its residents, with an illuminated
          infinity lap pool providing panoramic views of the iconic Dubai Hills
          Golf Course. 
        </p>
      </div>
    </li>
    <li class="zones__block">
      <img
        src="./images/section2_3_Ellington_House_Fitness_Studio.jpg"
        width="475"
        hight="190"
      />
      <svg
        class="zones-modal__open"
        width="34"
        height="34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.462 13.539 32 2m0 0h-9.23M32 2v9.23M13.538 13.54 2 2m0 0h9.23M2 2v9.23m18.462 9.232L32 32m0 0h-9.23M32 32v-9.23m-18.462-2.308L2 32m0 0h9.23M2 32v-9.23"
          stroke="#fff"
          stroke-opacity=".7"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div class="eh_description">
        <h2>Fitness center</h2>
        <p>
          The fitness center at Ellington House goes beyond the expected
          standards of fitness by catering not only to the varied fitness needs
          of its residents, but also considers their moods, emotions, and
          habits. 
        </p>
      </div>
    </li>
  </ul>
</section>
